.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 24px;
  height: 128px;
}

.header-summer {
  background-color: var(--dark-blue);
}

.header-boreal {
  background-color: var(--boreal-purple);
}

