.banner-container {
  display: flex;
  height: 270px;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.banner-container__text {
  position: absolute;
  text-align: center;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: center;
}

.banner-container__text-summer {
  color: var(--gray);
}

.banner-container__text-boreal {
  color: var(--white);
}
